<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="styles/style.css?rnd=123">
    <link rel="icon" href="images/wordlogo.ico">
    <title>Jobs, Skills, Qualtiies & Places of Work</title>
</head>

<body>
    <header>
        <h5 id="header2">Guess the Word</h5>
        <br>
        <nav id="menu">
            <ul id="header"><a id="customHeader2"><strong>Jobs, Skills, Qualities & Places of Work</strong></a></ul>
        </nav>
        <br>
    </header>
    <main>
            <div id="wordCanvas">
                <script>
                var gameType = "custom2"
                var score = null
                var wordList = <%= @list %>
                var word = "<%= @word %>"
                var definition = "<%= @definition %>"
                </script>
                <script type="text/javascript" src="scripts/script.js"></script>
            </div>
            <div id="hintDiv" hidden>
                <p id="guessHint"></p>
                <p id="definitionText"></p>
                <a href="/wowproject"><button id="tryAgain">New Word</button></a>
                <p id="definitionText"></p>
            </div>
            <div id="guessDiv">
                <script type="text/javascript" src="scripts/keyboard.js"></script>
            </div>
            <br><br><br><br><br>
    </main>
    <%= erb :"common/footer" %>
</body>



</html>

