<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css">
    <link rel="icon" href="">
    <title>Guess the Word</title>
</head>

<body>
    <header>
        <h1>Guess the Word</h1>
    </header>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="">New Word</a></li></a></li>
            </ul>
        </nav>
        
        <main>
            <div>
                <p>
                    Guess the Word
                </p>
            </div>
        </main>


    </div>
    <footer>
        <p><b>Guess the Word</b>, game made by Ben Tindal</p>
    </footer>
</body>
</html>