<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css?rnd=123">
    <link rel="icon" href="images/wordlogo.ico">
    <title>Guess the Word</title>
</head>

<body>
    <header>
        <h3>Guess the Word</h3>
    </header>
        <main>
            <div id="wordCanvas">
                <script>
                var word = "<%= @word %>"
                var definition = "<%= @definition %>"
                console.log(definition)
                </script>
                <script type="text/javascript" src="scripts/script.js"></script>
            </div>
            <div id="hintDiv">
                <strong><p id="guessHint"></p></strong>
                <p id="definitionText"></p>
                <a id="tryAgain" href="/"></a>
            </div>
            <div id="guessDiv">
                <script type="text/javascript" src="scripts/keyboard.js"></script>
                <div>
                    <button id="submitButton" onClick='makeGuess()'>Submit</button>
                    <button id="backButton" onClick='removeLetterFromGuess()'>Back</button>
                </div>
            </div>
        </main>
    <footer>
        <p><strong>Guess the Word</strong>, game made by Ben Tindal, definitions scraped from <a id="dictCreds" href="http://www.vocabulary.com/dictionary/">here</a></p>
    </footer>
</body>



</html>

