<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../styles/style.css?rnd=321">
    <link rel="icon" href="../images/wordlogo.ico">
    <title>Page not Found</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3887706431398702"
     crossorigin="anonymous"></script>
</head>

<body>
    <%= erb :"common/nav" %>
        <main>
            <div id="guessDiv">
                <p id="textBox"><strong>Page not found</strong>, maybe the URL given is not quite right, try again!</p>
            </div>
        </main>
    <%= erb :"common/footer" %>
</body>



</html>

