<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css?rnd=321">
    <link rel="icon" href="../images/wordlogo.ico">
    <title>Page not Found</title>
</head>

<body>
    <header>
        <h5 id="header2">&nbsp</h5>
        <h1 id="header">Guess the Word</h1>
    </header>
        <main>
            <div id="guessDiv">
                <p id="textBox"><strong>Page not found</strong>, maybe the URL given is not quite right, try again!</p>
            </div>
        </main>
    <footer>
        <p><strong>Guess the Word</strong>, game made by Ben Tindal, definitions scraped from <a id="dictCreds" href="http://www.vocabulary.com/dictionary/">here</a></p>
    </footer>
</body>



</html>

