<header>
    <h5 id="header2">&nbsp</h5>
    <br>
    <nav id="menu">
        <ul class="side" style="color: white"><a href="/">Home</a></ul>
        <ul id="header"><strong>Guess The Word</strong></ul>
        <ul class="side"><a href="/custom-game">Game</a></ul>
    </nav>
</header>