body {
    margin: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background-color:rgb(34, 85, 112);
    color: rgb(255, 255, 255);
}

body header {
    margin: 0px auto;
    font-family: "Arial", serif;
    font-size: 0.75rem;
    text-align: center;
}

nav {
    margin: 0;
    padding: 5px;
    background-color: rgb(34, 85, 112);
    text-align: center;
}
nav ul {
    margin: 5px;
}

/* NAV */

main{ /* Bit surrounding everything except the footer */
    background-color: rgb(34, 85, 112);
}

#wordCanvas{
    background-color:rgb(34, 85, 112);
    text-align: center;
}

canvas{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    outline: solid;
    height: 20px;
    width: 20px;
    outline-width: 2px;
    outline-color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
}

/* guessing section */
#guessDiv{
    text-align: center;
}

#guessDiv button{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    border-width: 2px;
    width: 5px;
    height: 10px;
    font-size: 0.5em;
    margin: 1px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: white;
    display: inline-block;
}


#guessDiv #submitButton{
    background-color: rgb(77, 255, 101);
}

#guessDiv #backButton{
    background-color: rgb(255, 151, 119);
}

#guessDiv #backButton, #guessDiv #submitButton{
    padding: 5px;
    width: 14%;
}

#guessHint{
    font-size: 1.5em;
}

#hintDiv{
    text-align: center;
    color: white;
    padding: 5px;
}

#tryAgain{
    color: #1e4366;
    background-color:rgb(255, 255, 255);
    font-size: 1em;  
    border-color: black;
    width: 25%;
    height: 30px;
    border-radius: 5px;
    white-space: nowrap;
}

/* Footer and below! */
footer {
    padding: 5px 10px 5px 0px;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 0.6em;
    text-align: center;
    background-color: #1e4366;
    color: rgb(255, 255, 255);
    position: fixed;
}

#dictCreds{
    color: white;
}

/* Colour classes */
#wordCanvas canvas.orange, #guessDiv .orange, .orange {
    background-color: sandybrown;
}

#wordCanvas canvas.green, #guessDiv .green, .green {
    background-color: rgb(64, 194, 97);
}

#guessDiv .grey, .grey {
    background-color: rgb(190, 190, 190);
}

.red {
    background-color: rgb(165, 53, 33);
}

/* Custom settings for different screen widths SMALLEST TO LARGEST*/

@media screen and (min-width: 320px){ /* Normal Phone */
    canvas {
        width: 50px;
        height: 50px;
    }
    body header {
        font-size: 1rem;
    }

    #guessDiv button{
        width: 33px;
        height: 43px;
        font-size: 1em;
    }
    footer{
        font-size: 10px;
    }
}

@media screen and (min-width: 414px){ /* larger phone */
    canvas {
        width: 60px;
        height: 60px;
    }
    body header {
        font-size: 1rem;
    }
    #guessDiv button{
        width: 37px;
        height: 50px;
        font-size: 1em;
    }

    footer{
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px){ /* S Laptop */
    canvas {
        width: 65px;
        height: 65px;
    }
    body header {
        font-size: 1rem;
    }
    #guessDiv button{
        width: 50px;
        height: 65px;
        font-size: 1.2em;
    }
    footer{
        font-size: 12px;
        position: fixed;
    }
}
