body {
    margin: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background-color:rgb(34, 85, 112);
    color: rgb(255, 255, 255);
}

body header {
    margin: 0px auto;
    font-family: "Arial", serif;
    font-size: 1rem;
    text-align: center;
}

nav {
    margin: 0;
    padding: 5px;
    background-color: rgb(34, 85, 112);
    text-align: center;
}
nav ul {
    margin: 5px;
}

/* NAV */

main{ /* Bit surrounding everything except the footer */
    background-color: rgb(34, 85, 112);
}

#wordCanvas{
    background-color:rgb(34, 85, 112);
    text-align: center;
}

canvas{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    outline: solid;
    height: 40px;
    width: 40px;
    outline-width: 2px;
    outline-color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
}

/* guessing section */
#guessDiv{
    text-align: center;
}

#guessDiv button{
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 40px;
    font-size: 1em;
    margin: 1px;
    text-align: center;
    color: black;
}

#guessDiv #submitButton{
    width: 100px;
    height: 50px;
    background-color: rgb(77, 255, 101);
    margin-top: 40px;
}

#guessDiv #backButton{
    width: 100px;
    height: 50px;
    background-color: rgb(255, 151, 119);
}

#hintDiv{
    text-align: center;
    color: white;
    padding: 5px;
}

#tryAgain{
    color: rgb(252, 252, 252);  
    font-size: 1.5em;  
}

/* Footer and below! */
footer {
    position: fixed;
    padding: 5px 10px 5px 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    font-size: 0.6em;
    text-align: center;
    background-color: #1e4366;
    color: rgb(255, 255, 255);
}

#dictCreds{
    color: white;
}

/* Colour classes */
#wordCanvas canvas.orange {
    background-color: sandybrown;
}

#wordCanvas canvas.green {
    background-color: rgb(64, 194, 97);
}

.green {
    background-color: rgb(64, 194, 97);
}

.grey {
    background-color: rgb(190, 190, 190);
}

.red {
    background-color: rgb(165, 53, 33);
}

/* Custom settings for different screen widths */

@media screen and (min-width: 500px) {
    canvas {
        width: 50px;
        height: 50px;
    }
    body header {
        font-size: 2rem;
    }
    #guessDiv button{
        background-color: rgb(255, 255, 255);
        width: 45px;
        height: 60px;
        font-size: 1em;
    }
    #guessDiv #submitButton{
        margin-top: 20px;
    }
    footer{
        font-size: 0.75em;
    }
}

@media screen and (min-width: 700px){
    canvas {
        width: 60px;
        height: 60px;
        background-color: rgb(255, 255, 255);
    }
    body header {
        font-size: 1rem;
    }
    #guessDiv button{
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 60px;
        font-size: 1em;
    }
}