body header {
    margin: 0px auto;
    font-family: "Arial", serif;
    font-size: 3rem;
    text-align: center;
}

body {
    margin: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(162,224,254), rgb(182,227,252));
    color: rgb(33, 64, 110);
}

body header {
    font-size: 2em;
}

main{
    background: rgb(0, 166, 255);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

main div {
    padding: 5px;
}

p {
    padding:5px;
}

main aside {
    padding: 5px;
    border-style: solid;
    text-align: center;
    width: 10em;
}

footer {
    clear: both;  /* move past any floated elements */
    font-size: 0.75em;
    text-align: center;
    padding: 3px 5%;
    background-color: #7dbfff;
    color: black;
}

nav {
    margin: 0;
    padding: 5px 5%;
    background-color: #7dbfff;
    font-size: 1.1em;
    text-align: center;
}
nav ul {
    margin: 5px;
    padding: 0;

}
nav ul li a:hover {
    border-style: solid;
}

button, input{
  width: 100%;
}
#wrapper {
    width: 100%;
    background-color: rgb(235,245,255);
    margin: 0 auto;
}

.word_game {
    display: flex;
    flex-wrap: wrap;
}

canvas {
    margin: auto;
    outline: solid;
    height: 50px;
    width: 50px;
    outline-width: 2px;
    outline-color: rgb(5, 4, 4);
    background-color: rgb(255, 255, 255);
}

.orange {
    background-color: sandybrown;
}

.green {
    background-color: rgb(64, 194, 97);
}

@media screen and (min-width: 750px) {
    body {
        font-size: 1em;
    }
    #wrapper {
        width: 80%;
        margin: 0 auto;
    }
    canvas {
      width: 50px;
      height: 50px;
      background-color: rgb(243, 8, 0);
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size: 1em;
    }
    #wrapper {
        width: 80%;
        margin: 0 auto;
    }
    canvas {
      width: 75px;
      height: 75px;
      background-color: rgb(216, 205, 49);
    }
}

@media screen and (min-width: 1100px) {
    body {
        font-size: 1em;
    }
    #wrapper {
        width: 80%;
        margin: 0 auto;
    }
    canvas {
      width: 250px;
      height: 250px;
      margin: 0 auto;
      background-color: rgb(184, 184, 184);
    }
}